<!DOCTYPE html>
<html>
<head>
    <title>Add Post</title>
	<meta charset="utf-8" />
    <script src="/scripts/jquery-2.1.1.min.js"></script>
    <script src="/scripts/application.js"></script>
</head>
<body onload="loadLayout()">
    <div id="navbar"></div>

    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Add Post</h1>
                </div>

                <div class="col-xs-2">
                    <label for="typeselect">Type:</label>
                    <select id="typeselect" name="posttype" class="form-control input-sm">
                        <option selected disabled value=""></option>
                        <option value="Request">Request</option>
                        <option value="Announcement">Announcement</option>
                    </select>
                    <br />
                </div>
            </div>

            <div class="row">
                <div class="col-xs-4">
                    <label for="summary">Summary:</label>
                    <input type="text" id="summary" size="50" maxlength="50" class="form-control input-md"/> <br /> 

                    <label for="details">Details:</label> <br />
                    <textarea id="details" rows="6" cols="50" class="form-control input-md"></textarea> <br /> 

                    <button onclick="addPost()" class="btn btn-success">Submit</button> <br /> <br />

                    <div class="alert alert-success fade in" id="postAdded" style="display: none">
                        <strong>Success!</strong> Post added successfully.
                    </div>
                    <div class="alert alert-danger fade in" id="postAddedError" style="display: none">
                        <strong>Error!</strong> There was a problem adding the post.
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>
</html>
