<!DOCTYPE html>
<html>
<head>
    <title>Add Post</title>
	<meta charset="utf-8" />
    <script src="/scripts/jquery-2.1.1.min.js"></script>
</head>
<body>
    <h2>Add Post</h2>

    Type: <br />
    <select id="typeselect" name="posttype">
        <option selected disabled value=""></option>
        <option value="Request">Request</option>
        <option value="Announcement">Announcement</option>
    </select>

    <br /> <br />

    Summary: <br />
    <input type="text" id="summary" size="50" maxlength="50" /> <br /> <br />

    Details: <br />
    <textarea id="details" rows="6" cols="50"></textarea> <br /> <br />

    <button onclick="addPost()">Submit</button> <br /> <br />

    <div id="message"style="display:none">
        <span style="margin-left: 2%">Post Added!</span> <br /> <br />

        <button onclick="goToIndex()">Home</button> <br /> <br />

        <span id="objectjson"></span> <br /> <br />
    </div>

    <script>
        function addPost() {
            var postData = {
                summary: $("#summary").val(),
                details: $("#details").val()
            };

            console.log(postData);

            if ($("#typeselect").val() == "Request") {
                $.ajax({
                    type: 'POST',
                    url: '/api/post/addrequest',
                    data: postData
                }).done(function (data) {
                    $("#message").show();
                    document.getElementById("objectjson").innerHTML = data.summary;
                }).fail(function () {
                    alert("ajax fail");
                });
            } else {
                $.ajax({
                    type: 'POST',
                    url: '/api/post/addannouncement',
                    data: postData,
                }).done(function (data) {
                    $("#message").show();
                    document.getElementById("objectjson").innerHTML = data.summary;
                }).fail(function () {
                    alert("ajax fail");
                });
            }
        }

        function goToIndex() {
            window.location = "/Views/Index.html";
        }
    </script>


</body>
</html>
