<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <meta charset="utf-8" />

    <script src="/scripts/application.js"></script>
    <script src="/scripts/jquery-2.1.1.min.js"></script>

</head>
<body onload="loadLayout()">
    <div id="navbar"></div>

    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Home</h1>

                    <button type="button" class="btn btn-primary" onclick="loginUser()">Log In</button><br /><br />

                    <button id="registerButton" type="button" class="btn btn-primary" onclick="toggleRegisterForm()">Register</button><br /><br />
                </div>

                <div class="col-xs-3">
                    <div class="form-group" id="registerForm" style="display: none">
                        <label for="emailInput">Email:</label>
                        <input type="text" id="emailInput" class="form-control input-sm" maxlength="30" size="30" /><br />

                        <label for="nameInput">Name:</label>
                        <input type="text" id="nameInput" class="form-control" /><br />
                        
                        <label for="passwordInput">Password:</label>
                        <input type="text" id="passwordInput" class="form-control" /><br />
                            
                        <label for="confirmPasswordInput">Confirm Password:</label>
                        <input type="text" id="confirmpasswordInput" class="form-control" /><br />
                           
                        <button class="btn btn-success" onclick="registerUser()">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        function loginUser() {
            var token = sessionStorage.getItem('accessToken');
            var headers = {};
            if (token) {
                headers.Authorization = 'Bearer ' + token;
            }

            alert("logging in user");
            $.ajax({
                type: 'GET',
                url: '/api/home/login',
                headers: headers
            }).done(function (data) {
                window.location = "/Views/UserAccount.html";
            }).fail(function () {
                alert("login ajax fail");
            });
        }

        function registerUser() {
            var registrationData = {
                email: $("#emailInput").val(),
                name: $("#nameInput").val(),
                password: $("#passwordInput").val(),
                confirmpassword: $("#confirmpasswordInput").val()
            };

            $.ajax({
                type: 'Post',
                url: '/api/user/register',
                data: registrationData
            }).done(function (data) {
                window.location = "/Views/AllUsers.html";
            }).fail(function () {
                alert("register ajax fail");
            });

        }
    </script>

</body>
</html>
